@import './../../styles/vars.scss';

.input {
  position: relative;
  margin-bottom: $scale-2-1;
  width: 150px;

  &-focused,
  &-hasValue {
    label { transform: scale(0.5) translate3d(0, 58px, 0) !important; }
  }

  label {
    margin-left: $scale;
    position: absolute;
    color: $color-blue-darker-5;
    transform: translate3d(0, 7px, 0);
    transform-origin: left;
    transition: transform 100ms ease-out;
  }

  input {
    background-color: $color-blue-darker-1;
    color: white;
    padding: $scale-1-2 $scale;
    border-radius: 2px;
    width: 100%;
    &:focus { outline: none; }
  }
}
