@import './../../styles/vars.scss';

.coupon {
  background-color: $color-smoke;
  box-shadow: $boxShadow;
  border-radius: $borderRadius;
  width: 100%;
  list-style: none;

  &_footer {
    border-top: 6px solid $color-base-lighter-8;
    padding: $scale-2-1;
    text-align: right;
    border-radius: 0 0 $borderRadius $borderRadius;
  }
}
