@import './../../styles/vars.scss';
@import './../../styles/breakpoints.scss';

.content {
  grid-column: 1 / last-line;
  background: $color-primary-lighter-6;
  padding: $scale-2-1;
  @include breakpoint( 'btwMobileTablet' ) { grid-column: 2 / last-line; }
}
