@import './../../styles/vars.scss';

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: $scale;

  &:nth-child(even) { background-color: mix($color-yellow, rgba(black, 0.07)); }
  &:first-child { border-radius: $borderRadius $borderRadius 0 0; }
  &:last-child { border-radius: 0 0 $borderRadius $borderRadius; }

  p { color: $color-yellow-darker-4; }

  &_system {
    font-weight: 500;
    font-size: $fontSize-xxlarge;
    margin-right: $scale;
  }

  &_amount {
    font-weight: 200;
    font-size: $fontSize-xxlarge;
    margin-right: $scale-3-1;
  }

  &_date {
    text-align: right;
    font-size: $fontSize-small;
    font-weight: 500;
    margin-bottom: 2px;
    color: $color-yellow-darker-3 !important;
  }

  &_person {
    text-align: right;
    font-size: $fontSize-xsmall;
    color: $color-yellow-darker-2 !important;
  }
}
