@import './../../styles/vars.scss';
@import './../../styles/truncate.scss';

.couponItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 200ms ease-out;

  &:nth-child(even) { background-color: $color-base-lighter-8; }
  &:first-child { border-radius: $borderRadius $borderRadius 0 0; }

  &-checked { background-color: $color-green-lighter-5 !important; }

  .matchData {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    min-width: 38%;
    padding: $scale-2-1 $scale;

    > * { float: left; }

    > *:first-child {
      width: 40%;
      text-align: right;
      margin-right: $scale;
      @include truncate;
    }

    > *:last-child {
      width: 40%;
      margin-left: $scale;
      @include truncate;
    }
  }

  select {
    color: $color-base-lighter-4;
    background: rgba(255,255,255,0);
    font-weight: 200;
    margin: 0 $scale-2-1 !important;
    &:focus { border: 0; outline: 0; }
  }

  .betWrap {
    display: flex;
    align-items: center;
    flex-basis: 102px;
    padding: $scale-2-1;
    padding-top: $scale + 2px;
    padding-bottom: $scale + 2px;
  }

  .bet {
    margin-right: $scale;
    font-weight: bold;
    font-size: $fontSize-xxlarge;
  }
}
