@import './vars.scss';

h1, h2, h3, h4, h5, h6, p, a, li, button {
  font-family: $fontFamily-sans;
  color: $color-base;
}

h1 { font-size: $fontSize-xxxlarge; }
h2 { font-size: $fontSize-xxlarge; }
h3 { font-size: $fontSize-xlarge; }
