/* ----- Scale ----- */

$scale: 12px;

$scale-8-1: $scale * 8;

$scale-6-1: $scale * 6;

$scale-4-1: $scale * 4;
$scale-3-1: $scale * 3;
$scale-2-1: $scale * 2;

$scale-1-2: $scale / 2;
$scale-1-3: $scale / 3;
$scale-1-4: $scale / 4;

$scale-1-6: $scale / 6;

$scale-1-8: $scale / 8;

/* ----- Colors ----- */

// ----- Green
$color-green: #51D845;

$color-green-lighter-6: mix(white, $color-green, 98% );
$color-green-lighter-5: mix(white, $color-green, 88% );
$color-green-lighter-4: mix(white, $color-green, 70% );
$color-green-lighter-3: mix(white, $color-green, 50% );
$color-green-lighter-2: mix(white, $color-green, 30% );
$color-green-lighter-1: mix(white, $color-green, 15% );

$color-green-darker-1: mix(black, $color-green, 11% );
$color-green-darker-2: mix(black, $color-green, 28% );
$color-green-darker-3: mix(black, $color-green, 43% );
$color-green-darker-4: mix(black, $color-green, 59% );

// ----- Yellow
$color-yellow: #ECFFA3;

$color-yellow-lighter-6: mix(white, $color-yellow, 98% );
$color-yellow-lighter-5: mix(white, $color-yellow, 88% );
$color-yellow-lighter-4: mix(white, $color-yellow, 70% );
$color-yellow-lighter-3: mix(white, $color-yellow, 50% );
$color-yellow-lighter-2: mix(white, $color-yellow, 30% );
$color-yellow-lighter-1: mix(white, $color-yellow, 15% );

$color-yellow-darker-1: mix(black, $color-yellow, 11% );
$color-yellow-darker-2: mix(black, $color-yellow, 28% );
$color-yellow-darker-3: mix(black, $color-yellow, 43% );
$color-yellow-darker-4: mix(black, $color-yellow, 59% );

// ----- Blue
$color-blue: #426DDE;

$color-blue-lighter-6: mix(white, $color-blue, 98% );
$color-blue-lighter-5: mix(white, $color-blue, 88% );
$color-blue-lighter-4: mix(white, $color-blue, 70% );
$color-blue-lighter-3: mix(white, $color-blue, 50% );
$color-blue-lighter-2: mix(white, $color-blue, 30% );
$color-blue-lighter-1: mix(white, $color-blue, 15% );

$color-blue-darker-1: mix(black, $color-blue, 11% );
$color-blue-darker-2: mix(black, $color-blue, 28% );
$color-blue-darker-3: mix(black, $color-blue, 43% );
$color-blue-darker-4: mix(black, $color-blue, 59% );

// ----- Red
$color-red: #EE5950;

$color-red-lighter-8: mix(white, $color-red, 98% );
$color-red-lighter-7: mix(white, $color-red, 94% );
$color-red-lighter-6: mix(white, $color-red, 88% );
$color-red-lighter-5: mix(white, $color-red, 80% );
$color-red-lighter-4: mix(white, $color-red, 70% );
$color-red-lighter-3: mix(white, $color-red, 50% );
$color-red-lighter-2: mix(white, $color-red, 30% );
$color-red-lighter-1: mix(white, $color-red, 15% );

$color-red-darker-1: mix(black, $color-red, 11% );
$color-red-darker-2: mix(black, $color-red, 28% );
$color-red-darker-3: mix(black, $color-red, 43% );
$color-red-darker-4: mix(black, $color-red, 59% );

// ----- Base
$color-base: #333333;

$color-base-lighter-8: mix(white, $color-base, 98% );
$color-base-lighter-7: mix(white, $color-base, 94% );
$color-base-lighter-6: mix(white, $color-base, 88% );
$color-base-lighter-5: mix(white, $color-base, 80% );
$color-base-lighter-4: mix(white, $color-base, 70% );
$color-base-lighter-3: mix(white, $color-base, 50% );
$color-base-lighter-2: mix(white, $color-base, 30% );
$color-base-lighter-1: mix(white, $color-base, 15% );

$color-base-darker-1: mix(black, $color-base, 11% );
$color-base-darker-2: mix(black, $color-base, 28% );
$color-base-darker-3: mix(black, $color-base, 43% );
$color-base-darker-4: mix(black, $color-base, 59% );

// ----- Smoke
$color-smoke: #FFFFFC;

$color-smoke-lighter-8: mix(white, $color-smoke, 98% );
$color-smoke-lighter-7: mix(white, $color-smoke, 94% );
$color-smoke-lighter-6: mix(white, $color-smoke, 88% );
$color-smoke-lighter-5: mix(white, $color-smoke, 80% );
$color-smoke-lighter-4: mix(white, $color-smoke, 70% );
$color-smoke-lighter-3: mix(white, $color-smoke, 50% );
$color-smoke-lighter-2: mix(white, $color-smoke, 30% );
$color-smoke-lighter-1: mix(white, $color-smoke, 15% );

$color-smoke-darker-1: mix(black, $color-smoke, 11% );
$color-smoke-darker-2: mix(black, $color-smoke, 28% );
$color-smoke-darker-3: mix(black, $color-smoke, 43% );
$color-smoke-darker-4: mix(black, $color-smoke, 59% );

/* ----- Font-family ----- */

$fontFamily-sans: "Roboto", sans-serif;
$fontFamily-system: "Roboto", sans-serif;

/* ----- Font-size ----- */

$fontSize-display: 140px;

$fontSize-xxxlarge: 36px;
$fontSize-xxlarge: 24px;
$fontSize-xlarge: 18px;
$fontSize-large: 16px;
$fontSize-base: 14px;
$fontSize-small: 12px;
$fontSize-xsmall: 11px;
$fontSize-xxsmall: 10px;
$fontSize-xxxsmall: 8px;

$fontSize-title: $fontSize-xxxlarge;
$fontSize-copy: $fontSize-base;

/* ----- Border radius ----- */

$borderRadius: 2px;

/* ----- Box shadow ----- */

$boxShadow: 0px 0px $scale-2-1 0px rgba($color-base, 0.15);
$boxShadow-button: 0px 0px $scale 0px rgba($color-base, 0.45);

/* ----- Gradients ----- */

$linearGradientOverlay-background-darken: linear-gradient( rgba(black, 0), rgba(black, 0.04) );
$linearGradientOverlay-background-lighten: linear-gradient( rgba(white, 0.16), rgba(white, 0) );

/* ----- Layout ----- */

$contentWidth-tablet: 100%;
$contentWidth-fromBtwMobileTablet: 432px; // 48px up to 480px
$contentWidth-fromBtwTabletDesktop: 792px; // 48px up to 840px
$contentWidth-fromBtwDesktopWidescreen: 1152px; // 48px up tp 1200px
