@import './../../styles/vars.scss';
@import './../../styles/breakpoints.scss';

.toolbar {
  grid-column: 1 / last-line;
  background: $color-primary-lighter-3;
  padding: $scale-2-1;
  @include breakpoint( 'btwMobileTablet' ) { grid-column: 1 / 2; }
  & > * { color: white; }
}
