@import './../../styles/vars.scss';

.app {
  background-color: $color-green;
  background-image:
    radial-gradient(
      circle at top center,
      rgba(white,0.2),
      rgba(white,0)
    ),
    repeating-linear-gradient(
      90deg,
      rgba(white, 0),
      rgba(white, 0) 80px,
      rgba($color-green-darker-1, 0.25) 80px,
      rgba($color-green-darker-1, 0.25) 160px /* determines size */
    ),
    url('./assets/grain.png');
  min-height: 100vh;
}
