@import './../../styles/vars.scss';

.formAddCoupon {
  background-color: $color-yellow;
  background-image: $linearGradientOverlay-background-lighten;
  box-shadow: $boxShadow;
  padding: $scale;
  width: 100%;
  border-radius: $borderRadius;
  max-height: calc( 100vh - 288px );
  overflow-y: auto;

  &::-webkit-scrollbar { width: 4px; }
  &::-webkit-scrollbar-track { background: transparent; position: absolute; }
  &::-webkit-scrollbar-thumb { background: rgba( $color-base, 0.15 ); border-radius: 10px; margin-right: 4px; }
}
