@import './../../styles/vars.scss';
@import './../../styles/breakpoints.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  h1 { color: white; }

  a {
    text-decoration: none;
    color: white;
    margin-left: $scale-2-1;
  }
}
